*{
    margin: 0;
    padding: 0;
    outline: 0;
    border:0;
}
body {
    background-color: #008000;
}
.container{
    outline: 10px solid rgb(183, 255, 0);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.container button{
    border: 2px solid #57575764;
    outline: 4px solid #57575729;
    color: #5757579c;
    width: 6rem;
    height: 3rem;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.153);

}

.container button:hover{
    color:white;
    background-color: #575757;
    transition: .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}