@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 42, 57);
    gap: 2rem;    
}
.container{
    
    width: 500px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    box-shadow: -10px 9px 20px 5px rgba(0, 0, 0, 0.258);
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 80%;
    color: #06283D;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 34px;
}
.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.463);
    text-transform: capitalize;
}
.search-box input:focus{
    outline: 1px solid #06283d6d;
    border-radius: 5px;
}
.search-box button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #06283D;
}
.search-box button:focus{
    border: 1px solid #06283d6d;
}
.search-box button:hover{
    background-color: #06283d73;
    color: white;
}
.search-box i{
    position: absolute;
    font-size: 1.5rem;
    color: #06283D;
}
.country{
    font-weight: 600;
    color: rgb(255, 0, 208);
    display: none;
}
.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-img{
    width: 45%;
    display: none;
    
}
.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 10px;

}
.weather-box span{
    top: 10px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}
.weather-box p{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 0, 208);
    text-transform: capitalize;
}
.weather-details{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-details .humidity,.weather-details .wind{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.weather-details i{
    color: #06283D;
    font-size: 1.7rem;
}
.weather-details span{
    color: #06283D;
    font-size: 1.3rem;
    font-weight: 500;
}
.weather-details p{
    color: rgb(255, 0, 208);
    font-weight: 500;
    font-size: 1rem;
}
.weather-404{
    display: none;
    width: 100%;
    text-align: center;
    
}
.weather-404 img{
    width: 55%;
    margin-top: 1.2rem;
}
.weather-404 p{
    margin-top: 1rem;
    color: #9c1212;
    font-size: 1.1rem;
    font-weight: 400;
}
.streetview{
    width: 400px;
    display: none;
    
}
.streetview iframe{
    width: 100%;
    display: none;
    border-radius: 20px;
    box-shadow: 20px 20px 20px 5px rgba(0, 0, 0, 0.185);

}
.time{
    display: flex;
    opacity: 0%;
    align-items: center;
    justify-content: start;
}

.time p{
    font-weight: 600;
    color: #06283D;
    opacity: 0%;
    color: #06283D;
    margin-right: 10px;
}
.time i{
    font-size: 1.5rem;     
    color: #4d7085;
}



#forecast{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 2rem 0rem;
    display: none;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    border-radius: 20%;
    padding: 2rem 0rem;
    text-align: center;
    color: rgb(255, 255, 255);
    margin-right: 0.2rem;
    
}
.item p{
    font-weight: 600;
    font-size: 0.7rem;
    width: 70%;
    text-align: left;
}
.item:nth-child(2n+1){
    background-color: #031521da;
}

.item:nth-child(2n+2){
    background-color: #0a4265cc;
}

.item .imgItem{
    width: 30px;
    height: 30px;
}
.TempMM{
    font-size: 0.8rem;
}

.itemHour{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.5rem;
    color: #06283D;
    font-size: 0.6rem;
    font-weight:500;
    text-align: center;
}
.ih{
    background-color: rgba(255, 0, 208, 0.071);
    border-radius: 20px;
    width: 100vw;
}



@media screen and (max-width: 760px)  {

    body{
        flex-direction: column;
    }

    .streetview{
        width: 400px;
        height: 100px;
    }
}

@media screen and (max-width: 550px)  {

    body{
        flex-direction: column;
    }

    .container{
        width:400px;
        height: 100px;

    }
    .weather-details{
        margin-top: 3rem;
    }
}