@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
    border:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(16, 42, 57);
    gap: 2rem;    
}
.container{
    
    width: 400px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 80%;
    color: #06283D;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 34px;
}
.search-box input::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.463);
    text-transform: capitalize;
}
.search-box button{
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #06283D;
}
.search-box button:hover{
    background-color: #06283d73;
    color: white;
}
.search-box i{
    position: absolute;
    font-size: 1.5rem;
    color: #06283D;
}
.country{
    font-weight: 600;
    color: rgb(255, 0, 208);
    display: none;
}
.weather-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.weather-img{
    width: 60%;
    margin-top: 30px;
    display: none;
}
.weather-box .temperature{
    position: relative;
    color: #06283D;
    font-size: 4rem;
    font-weight: 800;
    margin-top: 30px;

}
.weather-box span{
    top: 10px;
    position: absolute;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 5px;
}
.weather-box p{
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(255, 0, 208);
    text-transform: capitalize;
}
.weather-details{
    width: 100%;
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.weather-details .humidity,.weather-details .wind{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.weather-details i{
    color: #06283D;
    font-size: 1.7rem;
}
.weather-details span{
    color: #06283D;
    font-size: 1.3rem;
    font-weight: 500;
}
.weather-details p{
    color: rgb(255, 0, 208);
    font-weight: 500;
    font-size: 1rem;
}
.weather-404{
    display: none;
    width: 100%;
    text-align: center;
    
}
.weather-404 img{
    width: 70%;
    margin-top: 1.2rem;
}
.weather-404 p{
    margin-top: 1rem;
    color: #9c1212;
    font-size: 1.1rem;
    font-weight: 400;
}
.streetview{
    width: 400px;
    display: none;
}
.streetview iframe{
    width: 100%;
    display: none;
    border-radius: 20px;

}
@media screen and (max-width: 760px)  {

    body{
        flex-direction: column;
    }

    .streetview{
        width: 400px;
        height: 100px;
    }
}